
body{ 
text-align: left;
padding-left: initial;
padding-right: 75px;
padding: 75px;
}
h1{ 
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h2{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: black;
    text-align: center;
    font-weight: 200;
    font-size: medium;
}

html {
    background-color:  rgb(255, 253, 253);
    padding: auto;

}

input{
    margin: 2px; ;
    width: auto;
    padding: 5px;
    float: left;
    box-shadow: rgb(46, 46, 45);
}

li{
    list-style: none;
}

ul li:hover{
    background-color: rgb(148, 145, 158);
}
ul li.checked{
    background-color: rgb(252, 217, 22);
    color: white;
    text-decoration:line-through
}
button{
  color: blue;
  text-align: center;
  tab-size: 3px;
}

.search-container{
    background-color: rgb(224, 217, 217);
    height: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
    .search-container:hover > .search-input{
     width: 400px;
    }
}

.button {
    background-color:rgb(170, 170, 247);
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    
  }
  .button:hover {opacity: 20}  


 .add-container{
 text-align: center;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 20rem;
 height: 10rem;
 }

 .header{
    background-color: rgb(224, 217, 217);
    
}

 .arrow-up{
 display: flex;
 height: 10rem;
 justify-content: center;
 text-align: center;
 padding-right: 2rem;
 padding-left: 2rem;
 }
     
 }
 .arrow-down{
     text-align: right;
     position: relative;

 }
 .arrowup-circle{
     text-align: right;
     position: relative;
    
 }
 .arrowdown-circle{
     text-align: right;
 }
 .delete-icon{
     text-align: right;
 }

.text-center{
    text-align: center;
}
.form-group{
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    height:auto;
    padding: 10%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px
   solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}













